.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .header-title {
    font-family: 'Poppins';
    color: rgba(233, 233, 233, 0.842);
    font-weight: 600;
    margin-left: 20px;
    font-size: 18px;
  }
}
