.modal-btn-cancel {
  margin-left: 20px;
  background-color: #dc3545 !important;
  border: none !important;
  font-family: 'Poppins';
}
.modal-btn {
  font-family: 'Poppins';
}

.ant-form-item-control-input-content {
  justify-content: flex-end;
  display: flex;
}
.ant-form-item-required,
.ant-form-item-control-input-content {
  font-family: 'Poppins';
  font-weight: 500;
}

.ant-modal-title {
  font-family: 'Poppins';
  font-weight: 600 !important;
}
.loading-heading {
  font-family: 'Poppins';
  margin-top: 30px;
}
