.action-btns {
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins';
  button {
    color: rgba(233, 233, 233, 0.842);
  }
}
table {
  font-family: 'Poppins';
  margin-bottom: 20px;
}
.table-pagination {
  margin-top: 30px;
  font-family: 'Poppins';
}

.modal-header {
  span {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #dc3545;
  }
}

.alert-modal-body {
  font-family: 'Poppins';
  font-weight: 500;
  .alert-body-btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins';
    .alert-btn {
      margin-left: 10px;
      font-family: 'Poppins';
    }
  }
}

.dataTable-container {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 10px;
  margin-top: 10px;
  // background-color: red;
}

.table-top-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
  margin-top: 40px;
  button {
    height: 40px;
    padding: 10px;
    align-items: center;
    display: flex;
    font-size: 15px;
  }
}
.table-top-btns-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins';
  margin-top: 20px;
  button {
    height: 40px;
    padding: 10px;
    align-items: center;
    display: flex;
    font-size: 15px;
  }
}
.loading-table-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 200px 0px 200px 0px;
}
