.action-btns {
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins';
  button {
    color: rgba(233, 233, 233, 0.842);
  }
}
table {
  font-family: 'Poppins';
  margin-bottom: 20px;
}
.table-pagination {
  margin-top: 30px;
  font-family: 'Poppins';
}

.modal-header {
  span {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #dc3545;
  }
}

.alert-modal-body {
  font-family: 'Poppins';
  font-weight: 500;
  .alert-body-btn {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Poppins';
    .alert-btn {
      margin-left: 10px;
      font-family: 'Poppins';
    }
  }
}
